/* footer.module.css */
.footer {
  background-color: #121212;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.socialLinks {
  display: flex;
  gap: 20px;             /* Adjust spacing between icons */
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.socialLinks a {
  color: white;
  font-size: 24px;
  transition: transform 0.2s ease, color 0.2s ease;
  text-decoration: none;
}

.socialLinks a:hover {
  transform: scale(1.2);
  color: #FF4202;
}

.footerLinks {
  margin-right: 45px;
  display: flex;
  gap: 25px;
}

.footerLink {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.2s ease;
}

.footerLink:hover {
 
   transform: scale(1.2);
  color: #FF4202;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
  }
  
  .footerLinks {
    gap: 15px;
  }
}